.gcloudignore
# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:
.git
.gitignore

README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
dev
tmp
**/.env*
**/.venv*
**/.idea
**/.vscode
**/.pytest_cache
**/.coverage
**/.cache
**/.gitignore
**/.DS_Store
**/.dockerignore

#!include:.gitignore
